<nav class="sidebar">
    <div class="nav-container">
     <a href="/"><button class="sidebar-btn"> <span>Inicio</span></button></a>
     <a href="/nuevoVehiculo"><button class="sidebar-btn"> <span>+Vehiculo</span></button></a>
     <a href="/nuevoCliente"><button class="sidebar-btn"> <span>+Cliente</span></button></a>
     <a href="/nuevoTicket"><button class="sidebar-btn"> <span>+Ticket</span></button></a>
     <a href="/historial"><button class="sidebar-btn"> <span>Historial</span></button></a>
   
 </div>
     
   </nav>