<nav class="sidebar">
    <div class="nav-container">
         <a href="/"><button class="sidebar-btn"> <span>Inicio</span></button></a>
     <a href="/nuevo"><button class="sidebar-btn"> <span>Nuevo</span></button></a>
     <a href="/historial"><button class="sidebar-btn"> <span>Historial</span></button></a>
     <a href="/api/proximo"><button class="sidebar-btn"> <span>Proximo</span></button></a>
 </div>
     
   </nav>