* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  
  .flex-body{
    display: flex;
    width: 100%;
  }
  .flex-body main{
    width: 100% ;
  }
  .sidebar{
    width: 130px;
    min-height: 100vh;
    background-color: #04aa6d;
   
  }
  .nav-container{
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .sidebar-btn {
    display: inline-block;
    
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width:100%;
    transition: all 0.5s;
    cursor: pointer;
    
   }
   
   .sidebar-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .sidebar-btn span:after {
    content: '»';
    position: absolute;
  
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   .sidebar-btn:hover{
    background-color:#4e5274;
   }
   .sidebar-btn:hover span {
    padding-right: 15px;
   
   }
   
   .sidebar-btn:hover span:after {
    opacity: 1;
    right: 0;
   }
  #tabla {
    
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  #tabla td:first-child,
  #tabla th:first-child {
    border-left:none;
    
  }
  #tabla td,
  #tabla th {
    border: 1px solid #ddd;
    
  }
  #tabla tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  #tabla tr:nth-child(odd) {
    background-color: #ffffff;
  }
  #tabla tr:hover {
    background-color: #ddd;
  }
  #tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04aa6d;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    border-top: none;
  }
  .status-icon img{
    width: 40px;
    height: 40px;
  }
  .form-nuevo {
    display: flex;
    flex-direction: column;
    background-color: #afbeb977;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    width: 300px;
    padding: 10px;
    border: 1px solid gray;
    -webkit-box-shadow: 10px 10px 12px 1px rgba(0,0,0,0.61);
  -moz-box-shadow: 10px 10px 12px 1px rgba(0,0,0,0.61);
  box-shadow: 10px 10px 12px 1px rgba(0,0,0,0.61);
  }
  .form-nuevo input {
    margin-bottom: 10px;
    height: 40px;
    width: 90%;
  }
  .form-nuevo button {
    
    width: 90%;
  }
  
  .form-nuevo .input-error {
    border: 2px solid red;
  }
  
  
  .btn-action {
    width: 150px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  }
  .btn-delete {
    background: red;
  }
  .btn-edit {
    background: green;
  }
  .btn-edit-a {
    text-decoration: none;
  }
  .btn-action,
  button span {
    transition: 200ms;
  }
  
  .btn-action .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
  }
  
  .btn-action .icon {
    position: absolute;
    border-left: 1px solid #ffffff;
    transform: translateX(110px);
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-action svg {
    width: 15px;
    fill: #eee;
  }
  
  .btn-delete:hover {
    background: #ff3636;
  }
  .btn-edit:hover {
    background: rgb(0, 156, 0);
  }
  
  .btn-action:hover .text {
    color: transparent;
  }
  
  .btn-action:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }
  
  .btn-action:focus {
    outline: none;
  }
  
  .btn-action:active .icon svg {
    transform: scale(0.8);
  }
  